html
    head
        |div
        style
        script(src="a.js") alert("abc")
        link(href="a.css",ref="stylesheet")
    body
        div.gogo
            ul(class=["aaa","ccc"])
                li#xxx
                    a(href="www.baidu.com") 官网
                li
                li
        div
